*.csv
*.cached
*.hdata
*.json
*.json.js
*.txt
!csc*/*/grades/*.csv
csc*/*/submitted/*/*
!csc*/*/submitted/*.txt
!csc*/*/hintRepair/*/*.json
help-seeking/*/submitted/*/*
!help-seeking/*/submitted/*.txt
!*/*/unittests/**
!*/*/starts.csv
*.zip
*.gz
.DS_Store